<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Name" %>
    <%= f.input :description, label: "Beschreibung der Vorführung" %>
    <%= f.input :picture, as: :file, label: "Bild" %>
    <%= f.input :yt_video_id, label: "YouTube-Video-ID" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Speichern", class: "btn-primary" %>
  </div>
<% end %>
