<% if participant.yt_video_id.present? %>
    <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/<%= participant.yt_video_id %>?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
<% else %>
    kein Video verfügbar
<% end %>