<table class="table table-striped table-with-actions">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>YT-Video-ID</th>
      <th>
        <%= new_button new_participant_path %>
      </th>
    </tr>
  </thead>

  <tbody id="participants" data-update-order-href="<%= update_order_participants_path %>">
    <% @participants.each do |participant| %>
      <tr data-id="<%= participant.id %>">
        <td><%= participant.name %></td>
        <td><%= truncate participant.description %></td>
        <td><%= participant.yt_video_id %></td>
        <td>
          <%= details_button participant %>
          <%= edit_button edit_participant_path(participant) %>
          <%= destroy_button participant %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

