<table class="table table-striped">
  <tr>
    <td>Name:</td>
    <td><%= @participant.name %></td>
  </tr>
  <tr>
    <td>Beschreibung:</td>
    <td><%= @participant.description %></td>
  </tr>
</table>

<hr />

<div class="row">
  <div class="col-sm-6">
    <%= image_tag @participant.picture.url, style: "max-width: 80%;" %>
  </div>
  <div class="col-sm-6">
    <%= render "video", participant: @participant %>
  </div>
</div>
