<h1>MSO hat Talent</h1>

<div class="row">
    <div class="col-sm-8">
        <blockquote>
            <p>
                "MSO hat Talent" ist eine Show, die allen am Schulleben Beteiligten die Möglichkeit gibt, ihr Talent einem größeren Publikum zu präsentieren.
            </p>
        </blockquote>
        <p>
            Gezeigt werden kann jede Form von Talent, insofern es auf einer Bühne wirksam vorgeführt werden kann: Musikalische Beiträge mit Stimme oder Instrument, Tanzeinlagen, Akrobatik, Comedy, Zauberei u.v.m. Die Beiträge können als Solonummern oder in jeder beliebigen Formation präsentiert werden. Wir freuen uns alle auf eine bunte Show (am Freitag, den 1.12.2017) in der Aula der Marienschule!
        </p>
        <% if Settings.get.sale_of_tickets? %>
            <%= link_to "Zur Kartenbestellung", orders_new_path, class: "btn btn-primary btn-lg" %>
        <% elsif Settings.get.qualifying_round? || Settings.get.final? %>
            <%= link_to "Zur Abstimmung", new_audience_vote_path, class: "btn btn-primary btn-lg" %>
        <% end %>
    </div>
    <div class="col-sm-4">
        <%= image_tag asset_url("MSO_Talent.jpg"), style: "max-width: 100%; margin-bottom: 1em;" %>
        <%= render "layouts/info_table" %>
    </div>
</div>
