<%= form_for @settings, url: update_settings_path, method: 'post' do |f| %>
    <div class="form-group">
        <label for="round">Runde</label>
        <%= f.select :round, Settings::rounds.keys.map { |key| [t(key, scope: 'rounds'), key] }, {}, class: 'form-control' %>
    </div>
    <div class="form-group">
        <label for="max_online_tickets">Online-Kartenkontingent</label>
        <%= f.number_field :max_online_tickets, class: 'form-control' %>
    </div>
    <button type="submit" class="btn btn-primary">Speichern</button>
<% end %>

<hr />

<h2>Jury-Mitglieder</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Favorit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @jurors.each do |juror| %>
            <tr>
                <td><%= juror.name %></td>
                <td>
                    <%# juror.participant.present? ? juror.participant.name : '-' %>
                    <%= form_with model: juror do |f| %>
                        <%= f.collection_select(:participant_id, Participant.all, :id, :name, {include_blank: true}, onchange: "Rails.fire(this.form, 'submit');") %>
                    <% end %>
                </td>
                <td><%= destroy_button juror %></td>
            </tr>
        <% end %>
    </tbody>
</table>


<a onclick="$('#new-juror').show(); $(this).hide(); $('#juror_name').focus();" href="javascript:;">Neues Jury-Mitglied</a>
<div id="new-juror" style="display:none">
    <h3>Neues Jury-Mitglied</h2>
    <%= simple_form_for(@juror) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :name %>
    </div>

    <div class="form-actions">
        <%= f.button :submit, "Jury-Mitglied erstellen" %>
    </div>
    <% end %>
</div>

