<h1>Karten bestellen</h1>

<div class="alert alert-info" role="alert">
    Bitte füllen Sie das Formular unten aus. Sie erhalten danach eine E-Mail, mit der Sie Ihre Bestellung bestätigen können. Bezahlt wird erst am Abend der Show beim Einlass.
</div>

<div class="row">
    <div class="col-sm-8">
        <%= simple_form_for @ticket_order, url: orders_create_path, method: 'post' do |f| %>
            <%= f.input :first_name, label: "Vorname", autofocus: true %>
            <%= f.input :last_name, label: "Nachname" %>
            <%= f.input :number_of_tickets, collection: (1..[20, @available_ticket_count].min), include_blank: false, label: "Anzahl der Karten" %>
            <%= f.input :email, label: "E-Mail-Adresse" %>

            <p class="text-muted">
                Wir werden Ihre persönlichen Daten niemals an andere weitergeben oder gar verkaufen.
                Sie werden verschlüsselt übertragen und ausschließlich zur Bearbeitung der Kartenbestellung verwendet.
                Spätestens ein paar Tage nach der Veranstaltung werden alle Ihre Daten aus unserem System gelöscht.
            </p>

            <%= f.button :submit, "Bestellen", class: "btn-primary btn-block" %>
        <% end %>
    </div>
    <div class="col-sm-4">
        <%= image_tag asset_url("MSO_Talent.jpg"), style: "max-width: 100%; margin-bottom: 1em;" %>
        <%= render "layouts/info_table" %>
    </div>
</div>

