<h1>Vielen Dank für Ihre Bestellung!</h1>
<p>Ihre E-Mail-Adresse wurde bestätigt. Sie können nun mit einem Klick auf den Button unten Ihre Karten ausdrucken. Außerdem haben wir sie Ihnen in einer separaten E-Mail noch einmal zugeschickt.</p>

<div style="margin-top: 1em; margin-bottom: 1em;">
    <%= link_to "Tickets drucken", orders_print_tickets_path(format: :pdf, token: params[:token]), target: "_blank", class: "btn btn-primary btn-lg" %>
</div>

<p>
    Die Karten können am 01.12. entweder digital als PDF oder ausgedruckt vorzeigt werden. Bitte denken Sie an die <strong>drei Euro Eintritt</strong> pro Karte.
</p>

<p>
    Ihre Karte berechtigt während der Show zum Abstimmen über den Gewinner. Hierfür scannen Sie entweder den QR-Code mit Ihrem Handy oder Tablet ein oder Sie rufen den Link, der auf der Karte angegeben ist, auf und geben Ihren individuellen Code ein.
</p>

<br />

<p>
    Wir freuen auf eine unterhaltsame Show mit Ihnen als "Jury-Mitglied"!
</p>

<p>
    Das Team für "MSO hat Talent"
</p>
