<%= form_tag print_tickets_tickets_path, method: "get" do %>
  <table class="table table-striped table-with-actions">
    <thead>
      <tr>
        <th>
          <%= submit_tag "Tickets drucken", class: "btn btn-primary btn-sm" %>
          <%= link_to "Alle Pforten-Tickets drucken",  print_tickets_tickets_path(ticket_ids: Ticket.where(ticket_order: nil).map(&:id)), class: "btn btn-warning btn-sm" %>
        </th>
        <th>Code</th>
        <th>Bestellung</th>
        <th>Eingecheckt?</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= check_box_tag 'ticket_ids[]', ticket.id %></td>
          <td><%= ticket.code %></td>
          <td><%= ticket.ticket_order.present? ? link_to("Bestellung", ticket.ticket_order) : "-" %></td>
          <td><%= format_tick ticket.checked_in? %></td>
          <td><%= destroy_button ticket %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Neue Tickets erstellen und drucken</h2>
<%= form_tag batch_create_tickets_path, method: "post" do %>
  <div class="form-group">
    Anzahl: <%= number_field_tag :amount, class: "form-control" %>
  </div>
  <%= submit_tag "Tickets erstellen", class: "btn btn-default" %>
<% end %>
