<h2>Tickets drucken</h2>
<% for ticket in @tickets %>
    <%= image_tag image_ticket_path(ticket), style: "max-width: 250px !important; page-break-inside: avoid; display: block; float: left; margin: 1em;" %>
<% end %>