<h1>Code eingeben</h1>
<p>
    Bitte geben Sie den fünfstelligen Code auf Ihrem Ticket ein. Beachten Sie dabei die Groß- und Kleinschreibung.
</p>
<%= form_tag new_audience_vote_path, method: 'get', class: 'form-inline' do %>
    <div class="form-group">
        <%= text_field_tag :code, nil, class: "form-control", autofocus: true, placeholder: "XXXXX" %>
    </div>
    <%= submit_tag "Weiter", class: "btn btn-primary" %>
<% end %>