<h1>Abstimmung</h1>

<%= form_tag create_audience_vote_path, method: "post" do %>
    <%= hidden_field_tag :round, @round %>
    <%= hidden_field_tag :ticket_code, params[:code] %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-instructions">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-instructions" aria-expanded="true" aria-controls="collapse-instructions" style="display: block;">
                        Hinweise
                    </a>
                </h4>
            </div>
            <div id="collapse-instructions" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-instructions">
                <div class="panel-body">
                    <% if @round == "qualifying_round" %>
                        <p>Wählen Sie Ihre Favoriten ins Finale! Sie müssen für mindestens vier und können für maximal acht Teilnehmer(innen) stimmen. Jede Stimme zählt gleich viel.</p>
                    <% else %>
                        <p>Stimmen Sie für Ihre Favoriten! Sie haben bis zu drei gleichwertige Stimmen.</p>    
                    <% end %>

                    <p>Mit einem Klick auf die Namen der Teilnehmer(innen) können Sie sich diese genauer ansehen. Klicken Sie ganz unten auf "Abstimmen", sobald Sie fertig sind.</p>
                </div>
            </div>
        </div>
        <% @participants.each do |participant| %>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-<%= participant.id %>">
                    <h4 class="panel-title">
                        <div class="pull-left" style="margin-right: 1em;margin-top: 13px;">
                            <div class="double">
                                <%= check_box_tag 'participant_ids[]', participant.id, nil, id: "participant_ids_#{participant.id}" %>
                            </div>
                        </div>
                        <a class="collapsed clearfix" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= participant.id %>" aria-expanded="false" aria-controls="collapse-<%= participant.id %>" style="display: block; line-height: 4em; text-decoration: none !important">
                            <%= image_tag participant.picture.url, style: "max-height: 4em;", class: "pull-right" %>
                            <%# <br class="visible-xs" /> %>
                            <strong><%= participant.name %></strong>
                            <% if participant.jurors.any? %>
                                <br class="visible-xs" />
                            <% end %>
                            <% participant.jurors.each do |juror| %>
                                <span class="label label-primary"><%= juror.name %></span>
                            <% end %>
                        </a>
                    </h4>
                </div>
                <div id="collapse-<%= participant.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= participant.id %>">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="audience-vote-participant-picture">
                                <%= image_tag participant.picture.url, style: "max-width: 200px;" %>
                            </div>
                            <%= participant.description %>
                        </div>
                        <hr />
                        <div>
                            <%= render "participants/video", participant: participant %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <%= submit_tag "Abstimmen", class: "btn btn-primary btn-lg" %>
<% end %>

<hr />
<p>Stufe 12 der Marienschule Opladen</p>
