<h1 style="font-family: Verdana, sans-serif;">E-Mail-Adresse bestätigen</h1>

<p style="font-family: Verdana, sans-serif;">Hallo <%= "#{@order.first_name} #{@order.last_name}" %>,</p>
<p style="font-family: Verdana, sans-serif;">bitte bestätigen Sie Ihre E-Mail-Adresse, indem Sie auf den folgenden Link klicken:</p>

<div>
  <a href="<%= orders_verify_email_url(token: @order.email_verification_token) %>" style="background-color:#556270;border:1px solid #1e3650;border-radius:4px;color:#ffffff;display:inline-block;font-family:Verdana,sans-serif;font-size:13px;font-weight:bold;line-height:36px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">
    E-Mail-Adresse bestätigen
  </a>
</div>

<br />
<p style="font-family: Verdana, sans-serif;">Viele Grüße</p>
<p style="font-family: Verdana, sans-serif;">Das Team für "MSO hat Talent"</p>