Hallo <%= "#{@order.first_name} #{@order.last_name}" %>,

bitte bestätigen Sie Ihre E-Mail-Adresse, indem Sie auf den folgenden Link klicken:
<%= orders_verify_email_url(token: @order.email_verification_token) %>

Viele Grüße
Das Team für "MSO hat Talent"