Hallo <%= "#{@order.first_name} #{@order.last_name}" %>,

im Anhang finden Sie Ihre Karten für die Show "MSO hat Talent". Sie können am 01.12. entweder digital als PDF oder ausgedruckt vorzeigt werden. Bitte denken Sie an die <strong>drei Euro Eintritt</strong> pro Karte.
Ihre Karte berechtigt während der Show zum Abstimmen über den Gewinner. Hierfür scannen Sie entweder den QR-Code mit Ihrem Handy oder Tablet ein oder Sie rufen den Link, der auf der Karte angegeben ist, auf und geben Ihren individuellen Code ein.

Wir freuen auf eine unterhaltsame Show mit Ihnen als "Jury-Mitglied".

Viele Grüße
Das Team für "MSO hat Talent"