<%= simple_form_for(@ticket_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: "Vorname" %>
    <%= f.input :last_name, label: "Nachname" %>
    <%= f.input :number_of_tickets, label: "Anzahl der Tickets" %>
    <%= f.input :email, label: "E-Mail-Adresse" %>
    <%= f.input :email_verified, label: "E-Mail-Adresse bestätigt" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Speichern" %>
  </div>
<% end %>
