<table class="table table-striped table-with-actions">
  <thead>
    <tr>
      <th>Besteller(in)</th>
      <th>Ticketanzahl</th>
      <th>E-Mail</th>
      <th>E-Mail bestätigt/ Tickets versandt</th>
      <th>
        <%= new_button new_ticket_order_path %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_orders.each do |ticket_order| %>
      <tr>
        <td><%= ticket_order.first_name %> <%= ticket_order.last_name %></td>
        <td><%= ticket_order.number_of_tickets %></td>
        <td><%= ticket_order.email %></td>
        <td><%= format_tick ticket_order.email_verified %></td>
        <td>
          <%= details_button ticket_order %>
          <%= edit_button edit_ticket_order_path(ticket_order) %>
          <%= destroy_button ticket_order %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
