<p id="notice"><%= notice %></p>

<p>
  <strong>Number of tickets:</strong>
  <%= @ticket_order.number_of_tickets %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ticket_order.email %>
</p>

<p>
  <strong>Email verified:</strong>
  <%= @ticket_order.email_verified %>
</p>

<%= link_to 'Edit', edit_ticket_order_path(@ticket_order) %> |
<%= link_to 'Back', ticket_orders_path %>
