// Place all the styles related to the UserVotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.audience-vote-participant-picture {
    text-align: center;
    float: right;
}

@media screen and (max-width: 768px) {
    .audience-vote-participant-picture {
        float: none;
        display: block;
    }
}

.double {
    zoom:1.5;
    transform:scale(1.5);
    -ms-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -o-transform:scale(1.5);
    -moz-transform:scale(1.5);
    transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -o-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -webkit-transform-origin:0 0;
}