<h1>Ergebnis</h1>

<div class="row" style="font-size: 1.5em;border-bottom: 1px solid #000;margin-bottom: 0.5em;">
    <div class="col-sm-1">Platz</div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">Teilnehmer(innen)</div>
    <div class="col-sm-5">Stimmen</div>
</div>

<div id="rows">
    <% p = 1 %>
    <% @participants.each_with_index do |participant, i| %>
    <% per_cent = (100 * participant.number_of_votes / @total_votes).round(2) %>
        <div class="row" id="participant-<%= participant.id %>" data-row-number="<%= i %>" style="font-size: 2em; margin-bottom: 0.5em;" data-per-cent="<%= per_cent %>">
            <div class="col-sm-1">
                <%= p = i == 0 || @participants[i - 1].number_of_votes > participant.number_of_votes ? i + 1 : p %>
            </div>
            <div class="col-sm-3">
                <div class="participant-picture">
                    <%= image_tag participant.picture.url, style: "max-height: 100px;max-width: 100px;" %>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="participant-name">
                    <%= participant.name %>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="number-of-votes">
                    <%= participant.number_of_votes %>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="progress" style="height: 40px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= per_cent %>" aria-valuemin="0" aria-valuemax="100" style="width: 0px;">
                        <!--
                        <div style="display: table; height: 100%;">
                            <div style="display: table-cell; vertical-align: middle; padding-left: 2px; font-size: 2em;">
                                <%= per_cent %>%
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<script type="text/javascript">
    $("#rows .row").hide();
    $(".number-of-votes").hide();
    $(".participant-name").hide();
    $(".participant-picture").hide();
    var len = $('#rows').children().length;
    var currentRow = len;
    var rowCompletelyDisplayed = true;

    $(document).on("keydown", function(e) {
        if (e.which == 87) { // W
            if (!rowCompletelyDisplayed) {
                rowCompletelyDisplayed = true;
                var row = $($('#rows').children().toArray()[currentRow]);
                row.find('.participant-name,.participant-picture').show('clip', 4000);
            } else if (currentRow > 0) {
                rowCompletelyDisplayed = false;
                currentRow--;
                $($('#rows').children().toArray()[currentRow]).show('puff', 750, function() {
                    var per_cent = $(this).data('per-cent') + "%";
                    $(this).find('.progress-bar').animate({width: per_cent}, 3000, 'easeInOutQuart', function() {
                        $(this).closest('.row').find('.number-of-votes').fadeIn('slow');
                    });
                });
            }
        } else if (e.which == 83) { // S
            if (currentRow < len){
                var row = $($('#rows').children().toArray()[currentRow]);
                row.find(".participant-picture").hide();
                row.find(".participant-name").hide();
                row.find(".number-of-votes").hide();
                row.find('.progress-bar').css({width: '0px'});
                row.hide('puff', 'slow');
                currentRow++;
                if (currentRow == len) {
                    rowCompletelyDisplayed = true;
                }
            }
        }
    });
</script>

