<h1>Stimmen</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if params[:round] == 'qualifying_round' %>"><%= link_to 'Vorrunde', votes_path(round: "qualifying_round") %></li>
  <li role="presentation" class="<%= 'active' if params[:round] == 'final' %>"><%= link_to 'Finale', votes_path(round: "final") %></li>
</ul>

<table class="table table-striped table-vertical-align" style="font-size: 2em;">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Name</th>
            <th>Stimmen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% p = 1 %>
        <% @participants.each_with_index do |participant, i| %>
        <% per_cent = (100 * participant.number_of_votes / @total_votes).round(2) %>
            <tr>
                <td><%= p = i == 0 || @participants[i - 1].number_of_votes > participant.number_of_votes ? i + 1 : p %></td>
                <td>
                    <%= image_tag participant.picture.url, style: "max-height: 100px;max-width: 100px;" %>
                </td>
                <td><%= participant.name %></td>
                <td><%= participant.number_of_votes %></td>
                <td style="min-width: 25%;">
                    <div class="progress" style="height: 40px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="<%= per_cent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= per_cent %>%;">
                            <div style="display: table; height: 100%;">
                                <div style="display: table-cell; vertical-align: middle; padding-left: 2px; font-size: 2em;">
                                    <%= per_cent %>%
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<hr />
<h3>Auswertung fürs Publikum</h3>
<a href="javascript:;" class="btn btn-primary" onclick="window.open('<%= votes_path(round: params[:round] == "final" ? "final" : "qualifying_round", view: "audience_result_screen") %>')">
    Auswertung fürs Publikum anzeigen
</a>
<p>
    Steuerung: Nächste(n) Teilnehmer(in) anzeigen: W; Rückgängig machen: S
</p>
