<% [:notice, :error, :alert].each do |level| %>
    <% unless flash[level].blank? %>
    	<div class="alert alert-<%= flash_class(level) %>" style="margin-bottom: 1em;">
    		<a class="close" data-dismiss="alert">×</a>
    		<%= content_tag :p, flash[level].html_safe %>
    	</div>
    <% end %>
<% end %>