<% if user_signed_in? %>
  <div class="container">
    <h1>MSO hat Talent</h1>
    <ul class="nav nav-pills" style="margin-bottom: 1em;">
      <li role="presentation" class="<%= 'active' if @active == :home %>"><%= link_to 'Home', root_path %></li>
      <% if can? :manage, Participant %>
        <li role="presentation" class="<%= 'active' if @active == :participants %>"><%= link_to 'TeilnehmerInnen', participants_path %></li>
      <% end %>
      <% if can? :manage, Ticket %>
        <li role="presentation" class="<%= 'active' if @active == :tickets %>"><%= link_to 'Tickets', tickets_path %></li>
      <% end %>
      <li role="presentation" class="<%= 'active' if @active == :ticket_inspection %>"><%= link_to 'Ticketkontrolle', ticket_inspection_tickets_path, data: { turbolinks: false } %></li>
      <% if can? :manage, TicketOrder %>
        <li role="presentation" class="<%= 'active' if @active == :ticket_orders %>"><%= link_to 'Bestellungen', ticket_orders_path %></li>
      <% end %>
      <% if can? :manage, Vote %>
        <li role="presentation" class="<%= 'active' if @active == :votes %>"><%= link_to 'Stimmen', votes_path %></li>
      <% end %>
      <% if can? :manage, Settings %>
        <li role="presentation" class="<%= 'active' if @active == :settings %>"><%= link_to 'Einstellungen', settings_path %></li>
      <% end %>
      <li role="presentation"><%= link_to 'Abmelden', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
<% else %>
  <nav class="navbar navbar-inverse" style="margin-bottom: 0;">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_url %>">
          MSO hat Talent
        </a>
      </div>
    </div>
  </nav>
<% end %>