<table class="table table-bordered">
    <tr>
        <td><%= glyphicon_with_text :flag, "Ort" %></td>
        <td>Aula der Marienschule Opladen</td>
    </tr>
    <tr>
        <td><%= glyphicon_with_text :calendar, "Datum" %></td>
        <td>01. Dezember 2017</td>
    </tr>
    <tr>
        <td><%= glyphicon_with_text :time, "Uhrzeit" %></td>
        <td>18.00 Uhr</td>
    </tr>
    <tr>
        <td><%= glyphicon_with_text :euro, "Preis pro Karte" %></td>
        <td>3€</td>
    </tr>
</table>